/*General*/
* {
  margin: 0px;
}
BODY {
  position: relative;
}
.container {
  font-family: "Poppins", sans-serif;
  display: flex;
  /* padding: 0px 10px; */
}
a {
  color: #312121;
  text-decoration: none;
}

ol {
  list-style: none;
}
li {
  list-style: none;
}

/*PANEL*/
.panel {
  width: 45%;
  /* width: 174px; */
  background-color: #ffffff;
  /* height: 844px; */
  overflow-y: scroll;
  overflow-x: hidden;
}

.panel::-webkit-scrollbar {
  display: none;
}

.panel {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/*logo*/
.logo {
  border-bottom: #dedede 1px solid;
  height: 66px;
}

.logo img {
  width: 90px;
  height: 28px;
  margin: 20px auto;
  margin-left: 15px;
}

/*animation_options*/
.animation_options {
  padding: 10px 0;
  margin: auto;
  /* padding-left: 5px; */
  font-weight: 700;
  font-size: 10px;
  line-height: 13px;
  border-bottom: 0.726968px solid #d5d2d9;
}
.animation_options div {
  padding: 10px 0px;
  padding-left: 5px;
  cursor: pointer;
}
.animation_options div:hover {
  background: #d5d2d9;
}
.animation_options div:hover span #icon {
  opacity: 100%;
}
.golden {
  display: none;
  color: #e2c000;
  padding-right: 2px;
  /* opacity: 0%; */
}
/* .animation_options div:hover span .golden {

    opacity: 100%;
} */
.animation_options div span #icon {
  opacity: 0%;
  padding-right: 2px;
}
.animation_options div span #icon:hover {
  opacity: 100%;
}
/*options*/
.options {
  padding-top: 12px;
  margin: auto;
  font-weight: 700;
  font-size: 10px;
  line-height: 23px;
}
.options div {
  padding: 10px 0px;
  margin-left: 30px;
  cursor: pointer;
}

.options div a {
  padding-left: 4px;
}

/*BODY*/

.body {
  width: 55%;
  background-color: #dedede;
  height: inherit;
}
/*Tab*/
.auth_tab {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px 12px;

  /* Change the display to flex if user is auth  */
}
.menu_auth {
  width: 70%;
}
.menu_ol {
  display: none;
  margin-left: 10%;
  width: 220px;
  position: absolute;
  background: #f6f5f7;
  padding-left: 40px;
  top: 50px;
  right: 10px;
  z-index: 2;
  border-radius: 0px 0px 12px 12px;
}
.menu ol li,
.menu_auth ol li {
  padding: 20px 20px;
  cursor: pointer;
}

.close {
  font-size: 20px;
  text-align: center;
  margin: auto;
  display: block;
  padding-right: 40px;
}
.profile {
  display: flex;
  justify-content: space-between;
}
.unauth_tab {
  display: flex;
  justify-content: space-between;
  position: relative;
  display: none;
}
.menu {
  width: 70%;
}
.menu_bars {
  align-self: center;
  padding-right: 37px;
  padding-top: 24px;
  font-size: 20px;
  cursor: pointer;
}
.profile button {
  padding: 10px;
  margin: 5px;
  border: #3a0ca3 1px solid;
  cursor: pointer;
  display: none;
}
.profile button:hover {
  border: none;
  color: #ffffff;
  background-color: #3a0ca3;
}
.profile button:active {
  border: none;
  color: #ffffff;
  background-color: #3a0ca3;
}

.profile_container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.profile_main_container {
  border-radius: 82.5136px;
  background-color: #af97de;
  margin-right: 6px;
  cursor: pointer;
}

.profile_displayname_abbr {
  font-weight: 700;
  font-size: 16.5027px;
  line-height: 23px;
  color: #ffffff;
  padding: 5px 6px;
}

.profile_icon {
  position: relative;
  top: 8px;
  cursor: pointer;
}

.profile_dropdown_container {
  width: 300px;
  height: fit-content;
  position: absolute;
  right: -12px;
  top: 35px;
  display: none;
  z-index: 1;
}

.top_part {
  background: #d8c1ff;
  height: 100px;
  position: relative;
  width: 100%;
}

.circle_closed {
  position: absolute;
  top: 13px;
  right: 21px;
  cursor: pointer;
}

.user_profile {
  position: relative;
  top: 60px;
}

.profile_displayname {
  margin: auto;
  padding: 20px 18px;
  border-radius: 100%;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 8px;
  background: #876ac4;
  width: fit-content;
  color: #ffffff;
}

.profile_fullname {
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #4f4d54;
  margin-bottom: 2px;
}

.profile_email {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #716e7a;
}

.profile_nav {
  height: 220px;
  width: 100%;
  padding-top: 155px;
  background-color: white;
}

.profile_item {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #2f2d33;
  margin-bottom: 16px;
  margin-left: 24px;
  cursor: pointer;
}

.profile_items_icon {
  margin-right: 16px;
  position: relative;
  top: 4px;
}

/*Animation_body*/
.element_options {
  position: absolute;
  /* margin-top: 50px;
    margin-left: 59px; */
  display: flex;
  right: 25px;
}
.element_options i {
  cursor: pointer;
  padding: 10px;
  background-color: #e8e6eb;
  width: 20px;
  height: 20px;
  color: #8c8a94;
  padding-right: 6px;
  padding-bottom: 6px;
}
.element_options i.selected {
  background: #ffffff;
  color: black;
}
.animation_body {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 50px;
}
.anime-option1 {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.anime-option3 {
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}
.animation_body div p {
  padding-top: 200px;
  text-align: center;
  font-weight: 700;
  font-size: 31.7647px;
  line-height: 36px;
}
.circle {
  width: 80px;
  height: 80px;
  margin: auto;
  margin-top: 200px;
  display: none;
}
.square {
  margin: auto;
  width: 80px;
  height: 80px;
  margin-top: 200px;
  display: none;
}

/*EDIT NOTES OVERLAY*/
#editNoteOverlay {
  display: none;
  position: absolute;
  top: 35%;
  width: 60%;
  height: 50%;
  left: 20%;
  bottom: 15%;
  right: 10%;
  z-index: 10;
}
.edit {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 15px;
}
.head {
  width: 100%;
  /* height: 10%; */
  background-color: #2f2d33;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 1% 0 1% 0;
}
.head1 {
  display: flex;
  flex-direction: row;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding-top: 2px;
}
#color {
  background-color: #2f2d33;
  color: #f6f5f7;
  cursor: pointer;
}

.change {
  background-color: #866ac4;
  border: solid;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}
select#color {
  width: 20px;
  height: 10px;
  margin: auto;
  border: none;
  text-align: left;
}
.one {
  background-color: #ffcccc;
  cursor: pointer;
}
.two {
  background-color: #866ac4;
  cursor: pointer;
}
.three {
  background-color: #3a0ca3;
  cursor: pointer;
}
.four {
  background-color: #00f8a9;
  cursor: pointer;
}
.five {
  background-color: #00574e;
  cursor: pointer;
}
.stroke {
  color: #8c8a94;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.head2 {
  flex: none;
  order: 2;
  flex-grow: 0;
  padding-top: 4px;
}
.bullet,
.pinn,
.submit,
.deleted {
  font-size: 12px;
  color: #f6f5f7;
}
.str1 {
  order: 3;
}
.head3 {
  flex: none;
  order: 4;
  flex-grow: 0;
  padding-top: 4px;
}
.str2 {
  order: 5;
}
.head4 {
  flex: none;
  order: 6;
  flex-grow: 0;
  padding-top: 4px;
}
.str3 {
  order: 7;
}
.head5 {
  flex: none;
  order: 8;
  flex-grow: 0;
  padding-top: 4px;
}
.text {
  /* display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    flex: none; */
  /* order: 1;
    flex-grow: 0; */
  width: 100%;
  height: 90%;
  border: none;
  padding: 6%;
  box-sizing: border-box;
  background-color: #866ac4;
}
textarea:focus {
  outline: none;
}

/*FAVOURITE OVERLAY*/
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
.favouriteOverlay {
  display: none;
  position: absolute;
  background: #f3f2f5;
  top: 20%;
  width: 50%;
  height: 60%;
  left: 30%;
  bottom: 20%;
  right: 10%;
  padding: 32px 24px;
}
.favouritecard {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.searchbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 8px;
  position: absolute;
  width: 100%;
  height: 44px;
  background-color: #ede3ff;
  border-radius: 25px;
}
.iconify {
  width: 18px;
  height: 18px;
  flex: none;
  flex-grow: 0;
}
.bxsearch {
  margin-left: 5px;
}
.bxfilter {
  margin-right: 5px;
}
.searchinput {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 0px;
  gap: 8px;
  width: 70%;
  height: 44px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
#search {
  width: 70%;
  height: 21px;
  font-style: normal;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #2f2d33;
  flex: none;
  order: 1;
  flex-grow: 0;
  border: none;
  background-color: #ede3ff;
}
input:focus {
  outline: none;
}
.move {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  position: absolute;
  width: 100%;
  height: 30px;
}
.direction {
  font-style: normal;
  font-family: "Space Grotesk", sans-serif;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
  color: #2f2d33;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.icon {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.moveup {
  top: 68px;
}
.movedown {
  top: 122px;
}
.moveleft {
  top: 176px;
}
.moveblink {
  top: 230px;
}
.movebounce {
  top: 284px;
}
.movefade {
  top: 333px;
}

@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500&display=swap");

#userNoteOverlay {
  display: none;
  position: absolute;
  top: 20%;
  width: 90%;
  height: 60%;
  left: 5%;
  bottom: 20%;
  right: 5%;
  background: #fefefe;
}

.note {
  width: 100%;
  font-family: "Space Grotesk", sans-serif;
}

.headed {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 24px;
  padding-top: 20px;
  background: #fefefe;
  box-sizing: border-box;
}

.find {
  width: 10%;
  height: 10px;
  display: block;
}

.arrow {
  display: block;
  width: 10%;
  height: 24px;
  order: 4;
}

.arrow:hover {
  cursor: pointer;
}

#search {
  display: block;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  font-size: 100%;
  line-height: 18px;
  color: #2f2d33;
  background: #fefefe;
  border: none;
  width: 80%;
}

input:focus {
  outline: none;
}

.line {
  width: 90%;
  height: 1px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.29);
}

.add {
  width: 100%;
}

.add_note {
  font-family: "Space Grotesk", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 13px;
  background-color: #432499;
  width: 35%;
  margin-right: 8%;
  margin-left: 57%;
  margin-top: 16px;
  color: #f6f5f7;
  border-radius: 10px;
  text-align: center;
  padding: 5px 2px;
  padding-bottom: 14px;
  margin-bottom: 15px;
  cursor: pointer;
}

.plus {
  color: #f6f5f7;
  width: 23px;
  height: 23px;
  position: relative;
  top: 6px;
}

.none {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  height: inherit;
}

#notes {
  width: 100%;
  /* overflow: scroll;
    -ms-overflow-style: none;
        scrollbar-width: none; */
  overflow: visible;
}
#notes::-webkit-scrollbar {
  display: none;
}

.messages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
  width: 100%;
  padding-left: 34px;
  padding-bottom: 25px;
  padding-right: 22px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.29);
  box-sizing: border-box;
}

.colortime {
  width: 20%;
  height: 100%;
  position: relative;
}

.pin {
  position: absolute;
  top: -3px;
  right: 0px;
  z-index: 5;
}
#pinshow {
  display: none;
}

.notecolor {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background: #af97de;
  margin: auto;
  position: relative;
}

.time {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  margin-top: 12px;
  color: #4f4d54;
  text-align: center;
}

.essay {
  width: 70%;
  display: flex;
  flex-direction: column;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-left: 10px;
}

.hessay {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.pessay {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  color: #4f4d54;
}

.publish {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  color: #4f4d54;
}

.threedot {
  width: 10%;
  height: 1%;
  flex: none;
  order: 2;
  flex-grow: 0;
  position: relative;
  text-align: center;
}

.main-threedot:hover {
  background-color: #4f4d54;
  color: #fff;
  opacity: 0.5;
  cursor: pointer;
}

.dropdown {
  display: none;
}

.edit-note,
.unpin,
.pin-note,
.deletee {
  display: block;
  padding: 8px 12px;
  text-decoration: none;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 13px;
  color: #fff;
  border-bottom: solid 1px #fff;
  cursor: pointer;
}
.unpin {
  display: none;
}

.threedot:hover .dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #2f2d33d1;
  height: fit-content;
  width: 112px;
  padding: 10px 13px;
  padding-bottom: 19px;
  right: -30px;
}

.view-codeLayer, .editTextLayer {
  display: none;
  position: absolute;
  top: 30%;
  width: 90%;
  height: fit-content;
  left: 5%;
  bottom: 30%;
  right: 5%;
  background: #f9fcfb;
  padding: 52px;
  box-sizing: border-box;
}

.code-title, .edit-title  {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #2f2d33;
  margin-bottom: 16px;
}
.codeview-code-container {
  background: #e8e6eb;
  text-align: center;
  margin: auto;
  width: fit-content;
}
.codeview-code {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #2f2d33;
  padding: 16px 16px;
}
.codeView-cancel, .editText-cancel, .userNote-cancel {
  width: 24px;
  height: 24px;
  margin-left: 90%;
  margin-bottom: 10px;
  cursor: pointer;
}
.userNote-cancel{
 position: absolute;
 top: -25px;
 left: 2px;
}
.code-copy, .submitText {
  margin-top: 28px;
  width: fit-content;
  background: #3a0ca3;
  border-radius: 4px;
  padding: 8px 10px;
  text-align: center;
  color: #ede3ff;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  cursor: pointer;
}
/* .editTextLayer{
  display: block;
} */

#anime-element{
  display: block;
  width: 100%;
    font-size: 14px;
    padding: 16px 16px;
    box-sizing: border-box;
    border: none;
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
background-color: rgba(255, 255, 255, 0.753);
}


 .editText-code-container {
   /* background: #e8e6eb; */
   text-align: center;
   margin: auto;
   width: 80%;
 }
 .tooltip {
   position: relative;
   display: inline-block;
 }

 .tooltip .tooltiptext {
   visibility: hidden;
   width: 140px;
   background-color: #555;
   color: #fff;
   text-align: center;
   border-radius: 6px;
   padding: 5px;
   position: absolute;
   z-index: 1;
   bottom: 80%;
   left: 50%;
   margin-left: -75px;
   opacity: 0;
   transition: opacity 0.3s;
 }
 .tocopy{
  display: inline;
 }
.copied{
  display: none;
}
 .tooltip .tooltiptext::after {
   content: "";
   position: absolute;
   top: 100%;
   left: 50%;
   margin-left: -5px;
   border-width: 5px;
   border-style: solid;
   border-color: #555 transparent transparent transparent;
 }

 .tooltip:hover .tooltiptext {
   visibility: visible;
   opacity: 1;
 }





@media only screen and (min-width: 700px) {
  .panel {
    width: 35%;
    height: 100%;
  }
  .logo {
    height: 80px;
  }
  .logo img {
    width: 100px;
    height: 60px;
    margin: auto;
    display: block;
    margin-top: 10px;
  }
  .animation_options {
    padding: 14px 0;

    font-weight: 700;
    font-size: 14px;
  }

  .animation_options div {
    padding: 16px 0px;
    padding-left: 24px;
  }

  .animation_options div span #icon {
    padding-right: 10px;
  }
  .golden {
    padding-right: 10px;
  }
  .options {
    padding-top: 16px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
  }

  .options div {
    padding: 12px 0px;
    margin-left: 24px;
  }

  .options div a {
    padding-left: 12px;
  }
  .body {
    width: 65%;
    height: inherit;
  }

  /*Tab*/
  .auth_tab {
    justify-content: space-between;
    padding: 16px 40px;
    align-items: center;
  }
  .menu_auth {
    width: 70%;
    position: absolute;
  }

  .menu {
    width: 70%;
  }

  .menu ol {
    display: none;
    margin-left: 0px;
    width: 250px;
    position: absolute;
    background: #f6f5f7;
    top: 12px;
    left: -50px;
    z-index: 2;
    border-radius: 0px 0px 12px 12px;
  }
  .menu_auth ol {
    display: none;
    margin-left: 0px;
    width: 250px;
    position: absolute;
    background: #f6f5f7;
    top: 12px;
    left: -40px;
    z-index: 2;
    border-radius: 0px 0px 12px 12px;
  }

  .menu ol li {
    padding: 20px 20px;
    cursor: pointer;
  }

  .close {
    font-size: 20px;
    text-align: center;
    margin: auto;
    display: block;
  }

  .profile {
    display: flex;
    align-self: center;
    width: 45%;
  }

  .unauth_tab {
    justify-content: space-between;
    padding: 16px 40px;
    align-items: center;
  }

  .menu {
    width: 70%;
    position: absolute;
  }

  .menu_bars {
    width: 10%;
    align-self: center;
    padding-right: 37px;
    padding-top: 0px;
    font-size: 20px;
  }

  .profile button {
    padding: 10px;
    margin: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #3a0ca3;
    border: #3a0ca3 1px solid;
    cursor: pointer;
    display: block;
  }

  .profile button:active {
    border: none;
    color: #ffffff;
    background-color: #3a0ca3;
  }
  .profile_dropdown_container {
    width: 400px;
    height: fit-content;
    position: absolute;
    right: -40px;
    top: 35px;
  }

  /*Animation_body*/
  .element_options {
    position: static;
    margin-top: 0px;
    margin-left: 40px;
    display: flex;
  }

  .element_options i {
    cursor: pointer;
    padding: 12px;
    background-color: #e8e6eb;
    width: 20px;
    height: 20px;
    color: #8c8a94;
    padding-right: 8px;
    padding-bottom: 8px;
  }

  .element_options i.selected {
    background: #ffffff;
    color: black;
  }

  .animation_body {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 14px;
  }

  .anime-option1 {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }

  .anime-option3 {
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
  }

  .animation_body div p {
    margin-top: 240px;
    text-align: center;
    font-weight: 700;
    font-size: 56px;
    line-height: 72px;
  }

  .circle {
    width: 160px;
    height: 160px;
    margin: auto;
    margin-top: 240px;
    display: none;
  }

  .square {
    margin: auto;
    width: 160px;
    height: 160px;
    margin-top: 240px;
    display: none;
  }

  /*EDIT NOTES OVERLAY*/
  #editNoteOverlay {
    /* display: none; */
    position: absolute;
    top: 35%;
    width: 50%;
    height: 45%;
    left: 30%;
    bottom: 20%;
    right: 20%;
  }

  .change {
    width: 20px;
    height: 20px;
  }
  .bullet,
  .pin,
  .submit,
  .delete {
    font-size: 18px;
  }
  select#color {
    width: 30px;
    text-align: left;
  }

  .favouriteOverlay {
    top: 20%;
    width: 50%;
    height: 70%;
    left: 40%;
    bottom: 10%;
    right: 10%;
    padding: 32px 24px;
  }
  .iconify {
    width: 24px;
    height: 24px;
    flex: none;
    flex-grow: 0;
  }
  .direction {
    font-style: normal;
    font-family: "Space Grotesk", sans-serif;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #2f2d33;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  #userNoteOverlay {
    /* display: none; */
    position: absolute;
    top: 17%;
    width: 60%;
    height: 70%;
    left: 25%;
    bottom: 15%;
    right: 15%;
    background: #fefefe;
  }

  .hessay {
    font-family: "Space Grotesk";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
  }

  .pessay {
    font-family: "Space Grotesk";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #4f4d54;
  }

  .publish {
    font-family: "Space Grotesk";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #4f4d54;
  }

  .add_note {
    width: 30%;
    margin-left: 56%;
    margin-right: 4%;
    font-weight: 400;
    font-size: 16px;
    line-height: 13px;
    color: #f6f5f7;
    border-radius: 10px;
    text-align: center;
    padding: 7px 4px;
    padding-bottom: 14px;
    margin-bottom: 15px;
  }

  .plus {
    color: #f6f5f7;
    width: 23px;
    height: 23px;
    position: relative;
    top: 4px;
  }
  .view-codeLayer, editTextLayer {
    display: none;
    position: absolute;
    top: 30%;
    width: 70%;
    height: 40%;
    left: 25%;
    bottom: 30%;
    right: 15%;
    background: #f9fcfb;
    padding: 52px 92px;
    box-sizing: border-box;
  }

  .code-title, .edit-title {
    font-family: "Space Grotesk";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #2f2d33;
    margin-bottom: 16px;
  }

  .codeview-code-container {
    background: #e8e6eb;
    text-align: center;
    margin: auto;
  }

  .codeview-code {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #2f2d33;
    padding: 16px 32px;
  }

  .code-copy, .submitText {
    margin-top: 28px;
    width: fit-content;
    background: #3a0ca3;
    border-radius: 4px;
    padding: 8px 20px;
    text-align: center;
    color: #ede3ff;
    font-family: "Space Grotesk";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
  }
}

@media only screen and (min-width: 901px) {
  .panel {
    width: 22%;
  }

  .logo {
    height: 94px;
  }

  .logo img {
    width: 124px;
    height: 65px;
    margin: auto;
    display: block;
    margin-top: 10px;
  }

  .animation_options {
    padding: 16px 0;

    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
  }

  .animation_options div {
    padding: 16px 0px;
    padding-left: 24px;
  }

  .animation_options div span #icon {
    padding-right: 12px;
  }
  .golden {
    padding-right: 12px;
  }
  .options {
    padding-top: 16px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
  }

  .options div {
    padding: 12px 0px;
    margin-left: 24px;
  }

  .options div a {
    padding-left: 12px;
  }

  .body {
    width: 78%;
  }

  /*Tab*/
  .auth_tab {
    padding: 16px 80px;
    align-items: center;
    justify-content: space-between;
  }

  .menu_auth {
    width: 78%;
    display: block;
    position: static;
  }

  .menu ol,
  .menu_auth ol {
    display: flex;
    margin-left: 0px;
    width: 100%;
    padding-left: 0;
    position: static;
    background: inherit;
    z-index: 2;
    align-items: center;
  }
  .menu_auth ol {
    justify-content: space-between;
  }

  .menu ol li,
  .menu_auth ol li {
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    color: #716e7a;
    padding: 20px 0px;
    margin-right: 18px;
  }

  .menu ol li:last-child,
  .menu_auth ol li:last-child {
    margin-right: 0px;
  }

  .menu ol li a,
  .menu_auth ol li a {
    color: #716e7a;
  }

  .to-be-rem {
    display: none;
  }

  .menu ol li.present-page a,
  .menu_auth ol li.present-page a {
    color: #312121;
  }

  .close {
    font-size: 20px;
    text-align: center;
    margin: auto;
    display: none;
  }

  .closed {
    display: none;
  }

  .profile {
    display: flex;
    align-self: center;
    justify-content: space-between;
    width: 25%;
  }

  .unauth_tab {
    justify-content: space-between;
    padding: 16px 40px;
    align-items: center;
  }

  .menu {
    width: 72%;
    position: static;
  }

  .menu_bars {
    width: 10%;
    align-self: center;
    padding-right: 37px;
    padding-top: 0px;
    font-size: 20px;
    display: none;
  }

  .profile button {
    padding: 10px;
    margin: 0px;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #3a0ca3;
    border: #3a0ca3 1px solid;
    cursor: pointer;
    display: block;
  }

  .profile button:active {
    border: none;
    color: #ffffff;
    background-color: #3a0ca3;
  }
  .profile_container {
    order: 4;
    margin-left: 150px;
  }

  .animation_body div p {
    margin-top: 200px;
    text-align: center;
    font-weight: 700;
    font-size: 56px;
    line-height: 72px;
  }

  .circle {
    width: 160px;
    height: 160px;
    margin: auto;
    margin-top: 190px;
    display: none;
  }

  .square {
    margin: auto;
    width: 160px;
    height: 160px;
    margin-top: 190px;
    display: none;
  }

  #userNoteOverlay {
    /* display: none; */
    position: absolute;
    top: 20%;
    width: 50%;
    height: 60%;
    left: 30%;
    bottom: 20%;
    right: 20%;
    background: #fefefe;
  }
  .hessay {
    font-family: "Space Grotesk";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
  }

  .pessay {
    font-family: "Space Grotesk";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #4f4d54;
  }

  .publish {
    font-family: "Space Grotesk";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #4f4d54;
  }
  .add_note {
    width: 20%;
    margin-left: 66%;
    margin-right: 4%;
    font-weight: 400;
    font-size: 16px;
    line-height: 13px;
    color: #f6f5f7;
    border-radius: 10px;
    text-align: center;
    padding: 7px 4px;
    padding-bottom: 14px;
    margin-bottom: 15px;
  }
  .plus {
    color: #f6f5f7;
    width: 23px;
    height: 23px;
    position: relative;
    top: 4px;
  }

  .view-codeLayer,
  .editTextLayer {
    display: none;
    position: absolute;
    top: 30%;
    width: 70%;
    height: 40%;
    left: 25%;
    bottom: 30%;
    right: 15%;
    background: #f9fcfb;
    padding: 52px 92px;
    box-sizing: border-box;
  }

  .code-title,
  .edit-title {
    font-family: "Space Grotesk";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #2f2d33;
    margin-bottom: 16px;
  }

  .codeview-code-container {
    background: #e8e6eb;
    text-align: center;
    margin: auto;
  }

  .codeview-code {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #2f2d33;
    padding: 16px 32px;
  }

  .code-copy,
  .submitText {
    margin-top: 28px;
    width: fit-content;
    background: #3a0ca3;
    border-radius: 4px;
    padding: 8px 20px;
    text-align: center;
    color: #ede3ff;
    font-family: "Space Grotesk";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
  }
}

@media only screen and (min-width: 1025px) {
  .panel {
    width: 23%;
  }

  .logo {
    height: 94px;
  }

  .logo img {
    width: 124px;
    height: 65px;
    margin: auto;
    display: block;
    margin-top: 10px;
  }

  .animation_options {
    padding: 16px 0;

    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
  }

  .animation_options div {
    padding: 16px 0px;
    padding-left: 24px;
  }

  .animation_options div span #icon {
    padding-right: 12px;
  }
  .golden {
    padding-right: 12px;
  }
  .options {
    padding-top: 16px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
  }

  .options div {
    padding: 12px 0px;
    margin-left: 24px;
  }

  .options div a {
    padding-left: 12px;
  }

  .body {
    width: 77%;
  }

  /*Tab*/
  .auth_tab {
    padding: 16px 90px;
    align-items: center;
    justify-content: space-between;
  }

  .menu_auth {
    width: 72%;
    display: block;
  }

  .menu ol {
    display: flex;
    margin-left: 0px;
    justify-content: space-between;
    width: 100%;
    padding-left: 0;
    position: static;
    background: inherit;
    z-index: 2;
    align-items: center;
  }

  .menu ol li {
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #716e7a;
    padding: 20px 0px;
    /* margin-right: 25px; */
  }
  .menu ol li:last-child {
    margin-right: 0px;
  }
  .menu ol li a {
    color: #716e7a;
  }
  .to-be-rem {
    display: none;
  }
  .menu ol li.present-page a {
    color: #312121;
  }

  .close {
    font-size: 20px;
    text-align: center;
    margin: auto;
    display: none;
  }
  .closed {
    display: none;
  }

  .profile {
    display: flex;
    align-self: center;
    justify-content: space-between;
    width: 24%;
  }

  .unauth_tab {
    justify-content: space-between;
    padding: 16px 40px;
    align-items: center;
  }

  .menu {
    width: 66%;
    position: static;
  }

  .menu_bars {
    width: 10%;
    align-self: center;
    padding-right: 37px;
    padding-top: 0px;
    font-size: 20px;
    display: none;
  }

  .profile button {
    padding: 10px;
    margin: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #3a0ca3;
    border: #3a0ca3 1px solid;
    cursor: pointer;
    display: block;
  }

  .profile button:active {
    border: none;
    color: #ffffff;
    background-color: #3a0ca3;
  }

  .profile_container {
    order: 4;
    margin-left: 200px;
  }

  /*Animation_body*/
  .element_options {
    position: static;
    margin-top: 0px;
    margin-left: 50px;
    display: flex;
  }

  .element_options i {
    cursor: pointer;
    padding: 12px;
    background-color: #e8e6eb;
    width: 20px;
    height: 20px;
    color: #8c8a94;
    padding-right: 8px;
    padding-bottom: 8px;
  }

  .element_options i.selected {
    background: #ffffff;
    color: black;
  }

  .animation_body {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 14px;
  }

  .anime-option1 {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }

  .anime-option3 {
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
  }

  .animation_body div p {
    margin-top: 220px;
    padding-top: 0%;
    text-align: center;
    font-weight: 700;
    font-size: 96px;
    line-height: 72px;
  }

  .circle {
    width: 209px;
    height: 209px;
    margin: auto;
    margin-top: 190px;
    display: none;
  }

  .square {
    margin: auto;
    width: 209px;
    height: 209px;
    margin-top: 190px;
    display: none;
  }
}

/*ANIMATION PROPER*/

/*@media screen and (max-width:375px) {
    .direction {
        font-size: 15px;
    }
}

@media screen and (max-width:2230px) {
    .profilename {
        width: 15%;
        height: 470%;
        top: 245%;
    }

    .name {
        left: 37.5%;
    }
}

@media screen and (max-width:1440px) {
    .profilehead {
        height: 400%;
    }

    .profilename {
        width: 15%;
        left: 40%;
        top: 200%;
    }

    .name {
        left: 43%;
        font-size: 310%;
        top: 300%;
    }

    .fullname {
        left: 39%;
        font-size: 140%;
        top: 180px;
    }

    .email {
        left: 43%;
        font-size: 120%;
        top: 225px;
    }

    .changepass {
        top: 280px;

    }

    .passwords {
        font-size: 120%;
    }

    .note {
        top: 330px;

    }

    .notewords {
        font-size: 120%;
    }

    .favourites {
        top: 380px;

    }

    .favwords {
        font-size: 120%;
    }

    .logout {
        top: 430px;

    }

    .logwords {
        font-size: 120%;
    }
}

@media screen and (max-width:1170px) {
    .profilename {
        width: 18%;
        height: 318%;
        top: 245%;
    }
}

@media screen and (max-width:1024px) {
    .profilehead {
        height: 300%;
    }

    .end {
        left: 93%;
    }

    .profilename {
        width: 17%;
        height: 320%;
        left: 40%;
        top: 170%;
    }

    .name {
        left: 43%;
        font-size: 250%;
        top: 220%;
    }

    .fullname {
        left: 40%;
        font-size: 120%;
        top: 140px;
    }

    .email {
        left: 44%;
        font-size: 100%;
        top: 170px;
    }

    .changepass {
        top: 220px;
    }

    .passwords {
        font-size: 100%;
    }

    .note {
        top: 270px;

    }

    .notewords {
        font-size: 100%;
    }

    .favourites {
        top: 320px;

    }

    .favwords {
        font-size: 100%;
    }

    .logout {
        top: 370px;

    }

    .logwords {
        font-size: 100%;
    }
}

@media screen and (max-width:768px) {
    .profilehead {
        height: 250%;
    }

    .end {
        left: 90%;
    }

    .profilename {
        width: 17%;
        height: 250%;
        left: 40%;
        top: 130%;
    }

    .name {
        left: 43%;
        font-size: 180%;
        top: 140%;
    }

    .fullname {
        left: 40%;
        font-size: 80%;
        top: 110px;
    }

    .email {
        left: 44%;
        font-size: 70%;
        top: 135px;
    }

    .changepass {
        top: 180px;

    }

    .passwords {
        font-size: 70%;
    }

    .note {
        top: 220px;

    }

    .notewords {
        font-size: 70%;
    }

    .favourites {
        top: 260px;

    }

    .favwords {
        font-size: 70%;
    }

    .logout {
        top: 300px;
    }

    .logwords {
        font-size: 70%;
    }
}

@media screen and (max-width:580px) {
    .end {
        left: 85%;
    }

    .profilename {
        width: 22%;
    }

    .name {
        left: 44%;
    }

    .changepass {
        margin-left: 15%;
    }

    .note {
        margin-left: 15%;
    }

    .favourites {
        margin-left: 15%;
    }

    .logout {
        margin-left: 15%;
    }


}

@media screen and (max-width:425px) {
    .profilehead {
        height: 200%;
    }

    .end {
        left: 86%;
    }

    .profilename {
        width: 22%;
        height: 200%;
        left: 40%;
        top: 100%;
    }

    .name {
        left: 44%;
        font-size: 140%;
        top: 90%;
    }

    .fullname {
        left: 38%;
        font-size: 70%;
        top: 85px;
    }

    .email {
        left: 44%;
        font-size: 60%;
        top: 105px;
    }

    .iconify {
        width: 10%;
    }

    .changepass {
        top: 140px;
        margin-left: 6%;
    }

    .passwords {
        font-size: 70%;
    }

    .note {
        top: 170px;
        margin-left: 8%;

    }

    .notewords {
        font-size: 70%;
    }

    .favourites {
        top: 200px;
        margin-left: 8%;
    }

    .favwords {
        font-size: 70%;
    }

    .logout {
        top: 230px;
        margin-left: 8%;
    }

    .logwords {
        font-size: 70%;
    }
}

@media screen and (max-width:350px) {
    .profilehead {
        height: 200%;
    }

    .profilename {
        width: 24%;
        height: 180%;
        left: 40%;
        top: 100%;
    }

    .name {
        left: 44%;
        font-size: 120%;
        top: 80%;
    }

    .fullname {
        left: 39%;
        font-size: 60%;
        top: 80px;
    }

    .email {
        left: 45%;
        font-size: 50%;
        top: 100px;
    }

    .iconify {
        width: 10%;
    }

    .changepass {
        top: 130px;
        margin-left: 8%;

    }

    .passwords {
        font-size: 70%;
    }

    .note {
        top: 160px;
        margin-left: 10%;
    }

    .notewords {
        font-size: 70%;
    }

    .favourites {
        top: 190px;
        margin-left: 10%;
    }

    .favwords {
        font-size: 70%;
    }

    .logout {
        top: 220px;
        margin-left: 10%;
    }

    .logwords {
        font-size: 70%;
    }

} */

/*USER NOTES OVERLAY*/
